#header {
	padding: 1em;
	background: black;
	color: white;
}
#header * {
	margin: 0;
}
#header h1 {
	font-size: 1em;
}
#header h1 a {
	color: inherit;
	text-decoration: inherit;
}
#header h1 a:hover {
	text-decoration: underline;
}
#tagline {
	font-size: small;
	font-style: italic;
	font-weight: bold;
}
#main {
	background: white;
}
#main main {
	padding: 0em 1em 1em 1em;
}
#foot {
	margin-top: 5em;
	border-top: 10px solid #eee;
	text-align: right;
	padding: 0.5em 0.8em;
	font-size: small;
}
#foot p {
	margin: 0.2em 0;
}
#description {
	padding: 0.5em 0.8em;
	background: #fe8;
	border: 1px solid #fd4;
	border-radius: 0.5em;
}
main img {
	max-width: 100%;
	height: auto;
}
blockquote {
	border-left: 5px solid silver;
	padding: 0.1em 1em 0.1em 1em;
	background-color: #eee;
}
#navbar {
	background: white;
}
#navbar nav {
	padding: 0em 1em 1em 0.5em;
}
.hot {
	font-weight: bold;
	color: red;
}
nav ul {
	list-style: none;
	padding-left: 0.5em;
	background: #ffffff;
}
nav ul ul {
	background: #f8f8f8;
}
nav ul ul ul {
	background: #f0f0f0;
}
nav ul ul ul ul {
	background: #e8e8e8;
	font-size: small;
}
nav li {
	border-top: 1px solid silver;
}
nav li a {
	text-decoration: none;
}
nav li a:hover {
	text-decoration: underline;
}