{{ partial "header.html" . }}
<div class="pure-g">
  <div class="pure-u-1-5" id="navbar">
    {{ partial "menu_top.html" . }}
  </div>
  <div class="pure-u-4-5" id="main">
  	<main>
  	  <header>
  	    <h1>{{ if .Draft }}DRAFT:{{ end }}{{ .Title }}</h1>
        {{ partial "list_taxonomies.html" . }}
  	  </header>

  	  {{ if .Description }}
  	     <p id="description">{{ .Description }}</p>
  	  {{ end }}

  	  {{ if .Content }}
        {{ .Content }}
      {{ end }}
    </main>
  </div>
</div>
{{ partial "footer.html" . }}