{{ $page := .page }}
<ul>
{{ range .menu.ByName }}
  {{ $iz := $page.IsMenuCurrent "main" . }}
  {{ $haz := $page.HasMenuCurrent "main" . }}
  {{ if .HasChildren }} 
    <li>
    <a href="{{ .URL | relURL }}" class="{{ if $haz }}hot{{end}}"> {{ .Pre }} {{ .Name }}</a>
    {{ if $haz }}
      {{ partial "menu_recursive.html" (dict "menu" .Children "page" $page) }}
    {{ end }}
    </li>
  {{ else }}
    <li class="{{ if $haz }}hot{{end}}">
    <a href="{{ .URL | relURL }}" class="{{ if $iz }}hot{{end}}">{{ .Name }}</a>
    </li>
  {{ end }}
{{ end }}
</ul>